*{
    margin: 0;
    padding: 0;
    font-family: "Inria Serif" !important;
}
body{
    height: 99.9vh;
}
form{
    border-radius: 20px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.circle-left{
    height: 7rem;
    width: 8.5rem;
    background-color: #C49E2F;
    border-radius: 20px 0  100px ;
}
.logo{
    width:3.8rem;
    height: 3.9rem;
}
/* .comb{
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */
input{
    border: none;
    outline: none;
}
input::placeholder{
    font-size: 1.1rem;
    color: #7F7F7F !important;
}
.comb-input-icon{
    width: 80%;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    border-radius: 15px;

}
.width-text{
    width: 80%;
}
button{
    border: none;
    background-color: #C49E2F;
    color: white;
    border-radius: 15px;
    font-size: 1.2rem;
}
svg{
    color: #A6A6A6;
}
.circle-right{
    width: 6.7rem;
    height: 6.7rem;
    background-color: #C49E2F;
    right: 0%;
    bottom: 0%;
    border-radius: 100px 0 20px 0;
}
